In [2]:
import pandas as pd
import numpy as np
import sklearn
import scipy
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("./open/train.csv")
test = pd.read_csv("./open/test.csv")

In [4]:
df

,sessionID,userID,TARGET,browser,OS,device,new,quality,duration,bounced,transaction,transaction_revenue,continent,subcontinent,country,traffic_source,traffic_medium,keyword,referral_path
0,SESSION_000000,USER_000000,17.0,Chrome,Macintosh,desktop,0,45.0,839.0,0,0.0,0.0,Americas,Northern America,United States,google,organic,Category8,NaN
1,SESSION_000001,USER_000001,3.0,Chrome,Windows,desktop,1,1.0,39.0,0,0.0,0.0,Europe,Western Europe,Germany,google,organic,Category8,NaN
2,SESSION_000002,USER_000002,1.0,Samsung Internet,Android,mobile,1,1.0,0.0,1,0.0,0.0,Asia,Southeast Asia,Malaysia,(direct),(none),NaN,NaN
3,SESSION_000003,USER_000003,1.0,Chrome,Macintosh,desktop,1,1.0,0.0,1,0.0,0.0,Americas,Northern America,United States,Partners,affiliate,NaN,NaN
4,SESSION_000004,USER_000004,1.0,Chrome,iOS,mobile,0,1.0,0.0,1,0.0,0.0,Americas,Northern America,United States,groups.google.com,referral,NaN,Category6_Path_0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252284,SESSION_252284,USER_206021,1.0,Chrome,Android,mobile,1,1.0,0.0,1,0.0,0.0,Europe,Northern Europe,United Kingdom,youtube.com,referral,NaN,Category5_Path_0032
252285,SESSION_252285,USER_206022,1.0,Chrome,Macintosh,desktop,0,1.0,0.0,1,0.0,0.0,Americas,Northern America,United States,google,organic,Category8,NaN
252286,SESSION_252286,USER_164240,5.0,Chrome,Macintosh,desktop,0,2.0,69.0,0,0.0,0.0,Americas,Northern America,United States,(direct),(none),NaN,Category1
252287,SESSION_252287,USER_206023,1.0,Android Webview,Android,mobile,1,1.0,28.0,0,0.0,0.0,Africa,Northern Africa,Egypt,youtube.com,referral,NaN,Category2_Path_0018
252288,SESSION_252288,USER_161023,6.0,Chrome,Macintosh,desktop,0,5.0,77.0,0,0.0,0.0,Americas,Northern America,United States,(direct),(none),NaN,Category1

In [5]:
df.describe()

,TARGET,new,quality,duration,bounced,transaction,transaction_revenue
count,252289.000000,252289.000000,252289.000000,252289.000000,252289.000000,252289.000000,2.522890e+05
mean,3.592626,0.751955,3.816805,113.104253,0.493672,0.009033,9.061248e+05
std,5.509465,0.431879,11.091028,330.876019,0.499961,0.100938,2.127689e+07
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000e+00
50%,2.000000,1.000000,1.000000,3.000000,0.000000,0.000000,0.000000e+00
75%,4.000000,1.000000,1.000000,71.000000,1.000000,0.000000,0.000000e+00
max,386.000000,1.000000,98.000000,11186.000000,1.000000,12.000000,3.325712e+09

In [6]:
df_type = pd.DataFrame(df.dtypes)

In [7]:
df.dtypes

sessionID               object
userID                  object
TARGET                 float64
browser                 object
OS                      object
device                  object
new                      int64
quality                float64
duration               float64
bounced                  int64
transaction            float64
transaction_revenue    float64
continent               object
subcontinent            object
country                 object
traffic_source          object
traffic_medium          object
keyword                 object
referral_path           object
dtype: object

In [8]:
objects = []
floats = []
for i in df_type.index:
    if df_type.loc[i, 0]== 'object':
        objects.append(i)
    else:
        floats.append(i)

In [9]:
objects

['sessionID',
 'userID',
 'browser',
 'OS',
 'device',
 'continent',
 'subcontinent',
 'country',
 'traffic_source',
 'traffic_medium',
 'keyword',
 'referral_path']

In [10]:
floats

['TARGET',
 'new',
 'quality',
 'duration',
 'bounced',
 'transaction',
 'transaction_revenue']

In [11]:
for i in objects:
    print(i, ':', len(df[i].unique()))

sessionID : 252289
userID : 206024
browser : 70
OS : 21
device : 3
continent : 6
subcontinent : 23
country : 205
traffic_source : 168
traffic_medium : 7
keyword : 624
referral_path : 1579

In [12]:
for i in objects:
    print(i, ':', len(test[i].unique()))

sessionID : 79786
userID : 64535
browser : 45
OS : 16
device : 3
continent : 6
subcontinent : 23
country : 192
traffic_source : 97
traffic_medium : 7
keyword : 212
referral_path : 981

In [15]:
countries_df = pd.DataFrame()

In [16]:
for i in df['country'].unique():
    print(i, ':', len(df[df['country']==i]))
    countries_df.loc[i, 'count'] = len(df[df['country']==i])

United States : 104201
Germany : 6319
Malaysia : 1354
Greece : 840
Brazil : 5046
Italy : 2992
Mexico : 3564
Laos : 59
United Kingdom : 10019
Philippines : 1365
Bulgaria : 255
Russia : 3055
Poland : 1871
China : 998
Romania : 946
Belgium : 1249
India : 19300
United Arab Emirates : 687
Portugal : 870
Canada : 7735
Algeria : 422
Egypt : 4220
Pakistan : 1006
Japan : 5204
Australia : 3321
South Africa : 2135
Turkey : 3542
Austria : 794
New Zealand : 574
Singapore : 1826
Taiwan : 4012
France : 5374
Saudi Arabia : 761
Colombia : 1385
Ecuador : 248
Thailand : 3638
Vietnam : 3255
Sweden : 1554
Sri Lanka : 447
South Korea : 2337
Kuwait : 110
Kenya : 240
Bolivia : 88
Spain : 4322
Hong Kong : 993
Bangladesh : 862
Serbia : 649
Netherlands : 3339
El Salvador : 104
Czechia : 684
Peru : 1000
Ukraine : 1334
Réunion : 25
Israel : 1125
Nepal : 70
Ireland : 1693
Indonesia : 2219
Argentina : 1149
Finland : 262
Hungary : 398
Switzerland : 1197
Qatar : 85
Georgia : 103
Nigeria : 1391
Oman : 79
Benin : 44
Belarus : 256
Côte d’Ivoire : 204
Dominican Republic : 199
Denmark : 816
Morocco : 635
Macau : 24
Slovakia : 377
Guatemala : 163
Norway : 503
Armenia : 55
Sudan : 31
Iraq : 570
Albania : 62
Cyprus : 82
Uruguay : 88
Estonia : 191
Suriname : 11
Costa Rica : 155
Cambodia : 168
(not set) : 336
Puerto Rico : 161
Lithuania : 210
Croatia : 328
Bosnia & Herzegovina : 201
Burundi : 17
Yemen : 39
Mali : 43
Tunisia : 183
Martinique : 7
Jordan : 156
Chile : 490
Ethiopia : 20
Luxembourg : 49
French Polynesia : 8
Trinidad & Tobago : 49
Cameroon : 79
Iceland : 22
Northern Mariana Islands : 1
Azerbaijan : 76
Jamaica : 35
Kazakhstan : 157
Myanmar (Burma) : 82
Venezuela : 246
Mozambique : 48
Tanzania : 111
Libya : 43
Palestine : 57
Guinea : 37
Macedonia (FYROM) : 120
Kyrgyzstan : 50
Congo - Kinshasa : 76
Lebanon : 108
Malta : 43
Uganda : 64
Bahrain : 41
Panama : 95
Slovenia : 194
Latvia : 145
Nicaragua : 60
Montenegro : 36
Gabon : 4
Honduras : 56
Afghanistan : 14
Ghana : 103
St. Kitts & Nevis : 1
Barbados : 11
Rwanda : 21
Somalia : 22
Fiji : 5
Senegal : 50
Niger : 22
Andorra : 13
Zambia : 16
Namibia : 10
Kosovo : 78
Chad : 2
Angola : 20
Botswana : 11
Haiti : 30
Moldova : 63
Uzbekistan : 36
Bahamas : 22
Faroe Islands : 5
Curaçao : 10
Brunei : 11
Mauritius : 15
Paraguay : 22
Burkina Faso : 50
St. Vincent & Grenadines : 3
Caribbean Netherlands : 2
Turkmenistan : 14
Guernsey : 5
Belize : 4
Maldives : 8
San Marino : 2
Guadeloupe : 11
Madagascar : 24
Iran : 36
Aruba : 5
Cayman Islands : 9
South Sudan : 6
Bermuda : 6
Djibouti : 6
Congo - Brazzaville : 8
Mongolia : 30
Sierra Leone : 6
Zimbabwe : 13
Jersey : 6
Guam : 16
Monaco : 3
Grenada : 2
Liberia : 7
British Virgin Islands : 2
New Caledonia : 3
Liechtenstein : 1
Guyana : 13
Antigua & Barbuda : 3
French Guiana : 5
Togo : 6
Bhutan : 1
Syria : 1
Swaziland : 3
Lesotho : 5
Greenland : 3
Mauritania : 3
Tajikistan : 1
Isle of Man : 1
St. Lucia : 3
St. Martin : 2
Cape Verde : 2
Guinea-Bissau : 3
Malawi : 6
Central African Republic : 1
Micronesia : 1
U.S. Virgin Islands : 2
Mayotte : 1
Papua New Guinea : 1
Gibraltar : 2
Vanuatu : 1

In [24]:
sum(countries_df.sort_values(by='count', ascending=False).head(50)['count'])

240183.0

In [25]:
sum(countries_df.sort_values(by='count', ascending=False)[50:100]['count'])

10240.0

In [27]:
for i in df['country'].unique():
    countries_df.loc[i, 'target_mean'] = np.mean(df[df['country']==i]['TARGET'])
    countries_df.loc[i, 'target_std'] = np.std(df[df['country']==i]['TARGET'])

In [29]:
countries_df.sort_values(by='count', ascending=False).head(50)

                         count  target_mean  target_std
United States         104201.0     4.638593    6.353942
India                  19300.0     2.651503    3.901069
United Kingdom         10019.0     2.477293    3.558216
Canada                  7735.0     4.439431    6.149730
Germany                 6319.0     2.797278    4.402903
France                  5374.0     3.057871    6.130467
Japan                   5204.0     2.875480    4.546863
Brazil                  5046.0     2.774871    5.653249
Spain                   4322.0     3.033549    5.572046
Egypt                   4220.0     2.224408    2.243605
Taiwan                  4012.0     4.199900    6.532030
Thailand                3638.0     2.249588    3.551141
Mexico                  3564.0     2.853816    4.617187
Turkey                  3542.0     2.313382    3.195147
Netherlands             3339.0     2.440851    3.440813
Australia               3321.0     3.213490    4.922881
Vietnam                 3255.0     2.118894    3.584528
Russia                  3055.0     3.129296    4.878421
Italy                   2992.0     2.716243    4.144212
South Korea             2337.0     2.374412    3.753953
Indonesia               2219.0     2.635872    4.238166
South Africa            2135.0     2.327400    3.102779
Poland                  1871.0     2.749332    3.880045
Singapore               1826.0     3.420591    5.015146
Ireland                 1693.0     2.594802    3.659619
Sweden                  1554.0     3.590090    6.564495
Nigeria                 1391.0     2.104242    2.166984
Colombia                1385.0     3.303971    5.141396
Philippines             1365.0     3.704029    8.979114
Malaysia                1354.0     2.727474    4.175475
Ukraine                 1334.0     2.928786    4.712438
Belgium                 1249.0     2.871898    4.930218
Switzerland             1197.0     3.459482    5.571386
Argentina               1149.0     2.601393    3.517634
Israel                  1125.0     3.090667    4.081912
Pakistan                1006.0     2.490060    4.175499
Peru                    1000.0     3.435000    5.489060
China                    998.0     2.865731    5.419479
Hong Kong                993.0     3.174220    4.493574
Romania                  946.0     2.597252    7.346423
Portugal                 870.0     2.729885    4.719430
Bangladesh               862.0     2.459397    3.465119
Greece                   840.0     2.509524    3.564027
Denmark                  816.0     2.436275    3.472350
Austria                  794.0     2.695214    4.196412
Saudi Arabia             761.0     2.332457    4.138675
United Arab Emirates     687.0     2.617176    3.889731
Czechia                  684.0     2.710526    4.299239
Serbia                   649.0     2.107858    2.832904
Morocco                  635.0     2.472441    2.931305

In [30]:
countries_df.sort_values(by='count', ascending=False)[50:100]

                      count  target_mean  target_std
New Zealand           574.0     3.407666    4.586491
Iraq                  570.0     2.203509    2.429495
Norway                503.0     2.753479    4.114038
Chile                 490.0     3.057143    5.504062
Sri Lanka             447.0     3.469799    5.053924
Algeria               422.0     2.677725    5.153605
Hungary               398.0     2.427136    3.002255
Slovakia              377.0     2.761273    6.022177
(not set)             336.0     3.252976    4.670544
Croatia               328.0     2.631098    3.576841
Finland               262.0     3.461832    5.268775
Belarus               256.0     3.070312    4.301496
Bulgaria              255.0     2.596078    3.303828
Ecuador               248.0     3.475806    6.693116
Venezuela             246.0     3.808943   14.991870
Kenya                 240.0     2.404167    3.056275
Lithuania             210.0     2.800000    5.170245
Côte d’Ivoire         204.0     2.132353    2.059681
Bosnia & Herzegovina  201.0     1.975124    2.156646
Dominican Republic    199.0     3.402010    5.407904
Slovenia              194.0     2.453608    3.604180
Estonia               191.0     3.130890    3.735865
Tunisia               183.0     2.885246    4.800154
Cambodia              168.0     3.333333    5.832653
Guatemala             163.0     4.325153    8.672560
Puerto Rico           161.0     3.440994    4.684910
Kazakhstan            157.0     3.439490    7.397140
Jordan                156.0     2.250000    3.095955
Costa Rica            155.0     3.916129    5.395284
Latvia                145.0     2.358621    3.433458
Macedonia (FYROM)     120.0     2.208333    2.506311
Tanzania              111.0     1.846847    2.600063
Kuwait                110.0     2.400000    2.597901
Lebanon               108.0     2.129630    2.086520
El Salvador           104.0     3.490385    4.632650
Georgia               103.0     2.524272    4.716928
Ghana                 103.0     2.611650    3.959094
Panama                 95.0     4.378947    6.577760
Uruguay                88.0     4.272727    8.059054
Bolivia                88.0     2.318182    3.654218
Qatar                  85.0     2.152941    2.413228
Myanmar (Burma)        82.0     3.109756    3.425180
Cyprus                 82.0     2.256098    2.488074
Oman                   79.0     2.734177    3.754184
Cameroon               79.0     2.151899    2.081191
Kosovo                 78.0     1.756410    1.594750
Congo - Kinshasa       76.0     1.671053    1.321763
Azerbaijan             76.0     2.526316    3.823314
Nepal                  70.0     2.671429    3.285124
Uganda                 64.0     2.187500    1.886424

In [31]:
continental_df = pd.DataFrame()

In [32]:
df

,sessionID,userID,TARGET,browser,OS,device,new,quality,duration,bounced,transaction,transaction_revenue,continent,subcontinent,country,traffic_source,traffic_medium,keyword,referral_path
0,SESSION_000000,USER_000000,17.0,Chrome,Macintosh,desktop,0,45.0,839.0,0,0.0,0.0,Americas,Northern America,United States,google,organic,Category8,NaN
1,SESSION_000001,USER_000001,3.0,Chrome,Windows,desktop,1,1.0,39.0,0,0.0,0.0,Europe,Western Europe,Germany,google,organic,Category8,NaN
2,SESSION_000002,USER_000002,1.0,Samsung Internet,Android,mobile,1,1.0,0.0,1,0.0,0.0,Asia,Southeast Asia,Malaysia,(direct),(none),NaN,NaN
3,SESSION_000003,USER_000003,1.0,Chrome,Macintosh,desktop,1,1.0,0.0,1,0.0,0.0,Americas,Northern America,United States,Partners,affiliate,NaN,NaN
4,SESSION_000004,USER_000004,1.0,Chrome,iOS,mobile,0,1.0,0.0,1,0.0,0.0,Americas,Northern America,United States,groups.google.com,referral,NaN,Category6_Path_0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252284,SESSION_252284,USER_206021,1.0,Chrome,Android,mobile,1,1.0,0.0,1,0.0,0.0,Europe,Northern Europe,United Kingdom,youtube.com,referral,NaN,Category5_Path_0032
252285,SESSION_252285,USER_206022,1.0,Chrome,Macintosh,desktop,0,1.0,0.0,1,0.0,0.0,Americas,Northern America,United States,google,organic,Category8,NaN
252286,SESSION_252286,USER_164240,5.0,Chrome,Macintosh,desktop,0,2.0,69.0,0,0.0,0.0,Americas,Northern America,United States,(direct),(none),NaN,Category1
252287,SESSION_252287,USER_206023,1.0,Android Webview,Android,mobile,1,1.0,28.0,0,0.0,0.0,Africa,Northern Africa,Egypt,youtube.com,referral,NaN,Category2_Path_0018
252288,SESSION_252288,USER_161023,6.0,Chrome,Macintosh,desktop,0,5.0,77.0,0,0.0,0.0,Americas,Northern America,United States,(direct),(none),NaN,Category1

In [34]:
for i in df['subcontinent'].unique():
    continental_df.loc[i, 'subcontinental'] = len(df[df['subcontinent']==i])
    continental_df.loc[i, 'target_mean'] = np.mean(df[df['subcontinent']==i]['TARGET'])
    continental_df.loc[i, 'target_std'] = np.std(df[df['subcontinent']==i]['TARGET'])

In [35]:
continental_df

                    subcontinental  target_mean  target_std
Northern America          111945.0     4.624869    6.340375
Western Europe             18325.0     2.855334    4.943763
Southeast Asia             13977.0     2.641912    4.776037
Southern Europe            10752.0     2.751767    4.640964
South America               9791.0     2.974568    5.837068
Central America             4201.0     3.045227    5.133064
Northern Europe            15432.0     2.638154    4.060834
Eastern Europe              9239.0     2.868925    4.878170
Eastern Asia               13598.0     3.205177    5.210989
Southern Asia              21744.0     2.656825    4.006291
Western Asia                7677.0     2.466067    3.517063
Northern Africa             5534.0     2.304120    2.770044
Australasia                 3895.0     3.242105    4.875252
Southern Africa             2164.0     2.340111    3.128315
Eastern Africa               655.0     2.274809    2.818297
Western Africa              1971.0     2.132927    2.340300
Caribbean                    569.0     3.184534    4.728038
(not set)                    336.0     3.252976    4.670544
Polynesia                      8.0     4.125000    5.035809
Middle Africa                190.0     2.157895    2.396558
Micronesian Region            18.0     3.388889    3.482319
Central Asia                 258.0     3.158915    6.408112
Melanesia                     10.0     3.000000    3.405877